extends layout

block content
  h1= title
  .container
    .row
      each product in products
        .col-4
          .card
            .card-header
              img.card-img(src=product.img)
              h3 #{product.name}
            .card-body
              p #{product.details}
              p #{product.category}
              p #{product.price}
            .card-footer
              button.btn.btn-info Info
              

